html {
    margin: 0;
}

.hidden {
    display: none;
}

img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock {
    color: white;
    margin-top: 120px;
    font-size: 40px;
}
